@page
@model E_Migrant.App.FrontEnd.ListarNesecidadesModel
@using E_Migrant.App.Dominio
@{
}

<div class = "center">
<h3>Gestionar Nesecidades</h3>
<P>En esta pagina podras Gestionar las Nesecidades</P>


	<table class="table table-dark" >
	  <thead class="thead-dark">
		<tr>
		  <th scope="col">Categoria</th>
		  <th scope="col">Descripcion</th>
		  <th scope="col">NivelP</th>
		  <th scope="col">Persona</th>
		  <th scope="col">Cedula</th>
		 

		</tr>
	  </thead>
		@foreach(var nesecidad in Model.nesecidades) {
		<tr>
			<td><b><a style="color:#FFC300" asp-page="./ListarNesecidades" asp-route-id="@nesecidad.Id">@nesecidad.Categoria_Nesecidades</a></b></td>
	
			<td>@nesecidad.Descripcion</td>
			<td>@nesecidad.NivelP</td>
			<td>@nesecidad.Migrante.Nombre</td>
			<td>@nesecidad.Migrante.Numero_Documento</td>
			<td><a class="btn btn-primary table-btn" asp-page="./ActualizarNesecidad" asp-route-id="@nesecidad.Id">Editar</a></td>
			  
		</tr>
	}
	</table>
</div>